@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
    font-family: norse-bold;
    src: url(./Norse-Bold.otf);
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


:root {
    --my-bg-color: #f2f2f2; /* Replace this with your preferred color */
  }


body {
    font-family: "Roboto", sans-serif;
    margin: 0;
}

div {
    line-height: 1.1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 0;
    background-color: var(--my-bg-color)
}

.sidebar {
    position: relative;
}

.odin {
    display: flex;
    font-family: norse-bold, sans-serif; 
    color: white;   
    align-items: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.7); 
    z-index: 1000;
    top: 200px;
    font-size: 10rem;
    width: 100%;
    justify-content: center;
    padding: 20px 0;
}

.logo {
    display: flex;
    justify-content: center;
}

.background {
    margin: 0;
    display: flex;
    justify-content: center;
}

.credits {
    position: absolute;
    bottom: 20px;
    color: white;
}

a.unsplash:link {
    color: white;
}

.login {
    display: flex;
    flex: 1;
    align-items: start;
    flex-direction: column;
    width: 100%;
    background-color: var(--my-bg-color)
}

.hero {
    margin-left: 50px;
    margin-top: 8%;
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 1.25rem;
    background-color: var(--my-bg-color);
    max-width: 900px;
}

.form {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.signup {
    background-color: var(--my-bg-color);
}

.bg-img {
    max-height:100vh;
    margin: 0;
}

.odin-img{
   width: 125px; 
}

legend {
    margin: 30px 50px;
    font-weight: 900;
    font-size: 1.25rem;
}

.names {
    display: flex;
    gap: 30px;
    margin-left: 50px;
    margin-top: 20px;
}
.first-name {
    display:flex;
    flex-direction: column;
}

.last-name {
    display: flex;
    flex-direction: column;
}

.details {
    display: flex;
    gap: 30px;
    margin-left: 50px;
    margin-top: 20px;
}

.phone {
    display: flex;
    flex-direction: column;
}

.email {
    display: flex;
    flex-direction: column;
}

.security {
    display: flex;
    gap: 30px;
    margin-left: 50px;
    margin-top: 20px;
}

.password {
    display: flex;
    flex-direction: column;
}

.confirm {
    display: flex;
    flex-direction: column;
}

.form-header {
    background-color: white;
    box-shadow: 0 5px 5px -5px rgba(0,0,0,0.5);
    padding-top: 10px;
    padding-bottom: 30px;
}

.login-form {
    width: 100%;
    background-color: var(--my-bg-color);
    padding-bottom: 30px;
}

.signup {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
}

button {
    background-color: #596D48;
    border-radius: 10px;
    color: white;
    padding: 20px;
    font-size: 1.25rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    outline: none;
    width: 30%;
}

.account-text {
    margin-top: 30px;
    font-weight: 500;
    font-size: 1rem;
}

a.login-link {
    color: #596D48;
    text-decoration: none;
    font-weight: 900;
}

input {
    padding: 10px;
    margin: 5px 1px 3px 0px;
    border: 1px solid #E5E7EB;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    width: 300px;
}

input:focus {
    outline: none;
    padding: 10px;
    margin: 5px 1px 3px 0px;
    border: 1px solid blue;
    box-shadow: 1px 1px 1px 1px lightgray;
}

label {
    font-size: 0.75rem;
    color: grey;
    font-weight: 600;
    letter-spacing: 2px;
}